.card-header {
  padding: 0.5rem 0rem;
  margin-bottom: 15px;
}

body {
  text-align: justify;
  background-color: #e1f5fe;
}

.navbar-expand-lg,
.card-footer {
  background-color: #2980b9;
}

.navbar-dark .navbar-nav .nav-link {
  color: #2c3e50;
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-weight: bold;
  color: #ecf0f1;
}

li > a,
h2 {
  color: #2c3e50;
}

li > a:hover {
  font-weight: bold;
  color: #2980b9;
}

h3 {
  padding-top: 25px;
  padding-bottom: 10px;
}

.justify-content-between {
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 0;
}

.btn-info {
  background-color: #2980b9;
  color: #130f40;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 300px;
}

.btn-info:hover {
  background-color: #4a69bd;
  color: #c7ecee;
  font-weight: bold;
}

#pres {
  color: #2980b9;
}

#cadiou {
  width: 100%;
}

#ac {
  margin-top: 10px;
  font-weight: bold;
}

.et_pb_image img {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.col {
  padding-bottom: 15px;
}

.chiffres {
  color: #2980b9;
  font-weight: bold;
  text-align: center;
}
.txt {
  font-variant: small-caps;
}

a,
a:hover {
  text-decoration: none;
  color: #2980b9;
}

.nav-link,
.nav-link:hover,
.nav-link:visited {
  color: #2980b9;
}

.dropdown-toggle {
  font-size: 5vw;
  width: 100%;
  height: auto;
  font-variant: small-caps;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4.5px double #2980b9;
}

.btn-primary.active {
  background-color: #2980b9;
  color: #130f40;
}

.btn-primary.active:hover {
  background-color: #4a69bd;
  color: #c7ecee;
  font-weight: bold;
}

.dropdown-menu.show {
  background-color: #2980b9;
}

.dropdown-item {
  color: #130f40;
}

.row > a {
  margin-bottom: 15px;
  margin-top: 15px;
}

.calendar,
.adress,
.prix {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon,
.date,
.lieu,
.price {
  display: inline-block;
}

.date,
.lieu,
.price {
  font-weight: bold;
  color: #2c3e50;
}

footer {
  text-align: center;
}

.footer > a {
  color: #2c3e50;
}

.footer > a:hover {
  color: #ecf0f1;
  font-weight: bold;
}
